.vk {
    display: block;
    height: 50px;
    width: 50px;
    background: url('../css/vk.PNG');
    background-repeat: no-repeat;
    background-size: cover;
    float: right;
}

.kartin_TG {
    height: 50px;
    width: 50px;
    
}
