*{
    margin: 0;
    padding: 0;
}

#Sushi {
    text-align: center;
    position: relative;
    bottom: -400px;  
    
}

body {
    height: 2000px;
}

.all_element:not(.element_1) {
    margin-left: 14%;
}

#Shapochka_saita {
    list-style: none;
    text-align: center;
    height: 15vh;
    line-height: 15vh;
    border: 2px solid;
    width: 80%;
    margin-left: 10%;
    border-top:  0;
    background: url('drevnij-kitaj-fon-dlja-prezentacii-360 (2).png') no-repeat;
    background-size: cover;
    border-radius: 0 0 30px 30px;
    position: fixed;
    z-index: 2;

}
#Shapochka_saita li{
    display: inline;
    border: 2px solid #B9B6B4;
    padding: 20px;
    margin-left: 40px;
    border-radius: 30px;
    background-color: #D3C6BD;
    font-family: 'Preahvihear', sans-serif;
    font-family: 'Sansita Swashed', cursive;
    font-size: 30px;   
    position: fixed;
}


.all_izob {    
    float: left;      
 }
.rolli_1riad {
    margin-left: 15%;
    position: relative;
    top: -250px; 
}
.all_izob:not(.izob_1) {
    margin-left: 8%; 
}




/* .izob_1 {
    position: relative;
   
    
    z-index: 3;
    float: left;
    
}
.izob_2 {
    position: relative;
    
    z-index: 1;   
    float: left;
} 

.izob_3 {
    position: relative;
   
    z-index: 1;
    float: left;
}
.izob_4 {
    position: relative;
    
    float: left;
}
a{
    color: black;
    text-decoration: none;
    font-size: 20px;
} */